<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/style/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="static/style/custom.css">
	<link rel="stylesheet" type="text/css" href="static/style/dashboard.css">
	<script type="text/javascript" src="static/javascript/jquery/jquery-3.2.1.js"></script>
	
	<title>BucketlistFairy</title>
</head>
<body>
<div class="navbar-fixed">
<nav>
	<div class="nav-wrapper">
		<div class="container">
		<a href="#" class="brand-logo">BucketlistFairy</a>
		<ul id="topNave" class="right hide-on-med-and-down">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
		</div>
	</div>
</nav>
</div>
<div class="container">
		<div class="row" id="bklist_controller">
			<div class="col s2">
				<button class="waves-effect waves-light btn">Add Activity</button>
			</div>	
			
			<div class="col s4">
				<button class=" waves-effect waves-light btn col s2 flat">All</button>
				<button class="btn waves-effect waves-light col s5">Pending</button>
				<button class="btn waves-effect waves-light col s5">Archieved</button>
			</div>			

			<div class="search-wrapper card col s6 right" id="searchBar">
	            <input id="search" placeholder="search">
	            <!--<i class="material-icons">search</i>-->
	            <div class="search-results"></div>
          </div>

		</div>

		<div class="card">
		<div class="row" id="demoArea">
				<img src="static/images/1.jpg" class="col s9" id="demoImg"/>
				<div class="col s3">
					<div id="dates_area" class="col s12">
						<div>
							Entered On:
						</div>
						<div>
							Archieved On:
						</div>
					</div>

					<div class="col s12" id="displayArea">
						<p id="story">

						</p>
					</div>

					<div class="col s12" id="actions">
						<button class="btn col s4">Edit</button>
						<button class="btn col s4">Done</button>
						<button class="btn col s4">Delete</button>
					</div>
				</div>
		</div>
	</div>

	<div class="row">
		<div class="col s6"><h5>My Bucket List</h5></div>
	</div>

	<div class="row">
		<div class="col s3">
			<div class="card bk_card">
			<div class="card-image">
				<img src="static/images/1.jpg"/>
			</div>
			<span class="card-title">
				Go Sky diving
			</span>

			<div class="card-content">
				
			</div>
		</div>
		</div>

		<div class="col s3">
			<div class="card bk_card">
			<div class="card-image">
				<img src="static/images/2.jpg"/>
			</div>
			<span class="card-title">
				Go Sky diving
			</span>

			<div class="card-content">
				
			</div>
		</div>
		</div>

		<div class="col s3">
			<div class="card bk_card">
			<div class="card-image">
				<img src="static/images/3.jpg"/>
			</div>
			<span class="card-title">
				Bingo
			</span>

			<div class="card-content">
				
			</div>
		</div>
		</div>

		<div class="col s3">
			<div class="card bk_card">
			<div class="card-image">
				<img src="static/images/1.jpg"/>
			</div>
			<span class="card-title">
				Sky diving
			</span>

			<div class="card-content">
				
			</div>
		</div>
		</div>
	</div>
</div>

<div id="addActivityModal" class="modal card">
	<h4 class="modal-header center">
		Please Login
	</h4>

	<div class="modal-content">
	<div class="row">
		<form class="col s12">
			<div class="input-field">
				<input type="text" name="email" id="email" class="validate">
				<label for="email">Email</label>				
			</div>

			 <div class="input-field">
				<input type="password" name="password" id="password" class="validate">
				<label for="password">Password</label>
			</div>
			<div class="input-field">
				<button class="btn">Log In</button>
			</div>
		</form>
	</div>
	</div>
</div>

	<form class="modal" id="registerModal">
		<h4 class="modal-header center">
			Register
		</h4>

		<div class="modal-content">
			<div class="input-field">
				<input type="text" name="email" id="email" class="validate">
				<label for="email">Email</label>				
			</div>

			<div class="input-field">
				<input type="text" name="first_name" id="first_name" class="validate">
				<label for="first_name">First Name</label>
			</div>

			<div class="input-field">
				<input type="text" name="last_name" id="last_name" class="validate">
				<label for="last_name">Last Name</label>
			</div>

			<div class="input-field">
				<span>
					<input type="radio" name="gender" id="male">
					<label for="male">Male</label>	
				</span>

				<span>
					<input type="radio" name="gender" id="female">
					<label for="female">Female</label>
				</span>			
			</div>

		 <div class="input-field">
			<input type="password" name="password" id="password" class="validate">
			<label for="password">Password</label>
		</div>

		<div class="input-field">
			<input type="password" name="password_repeat" id="password_repeat" class="validate">
			<label for="password_repeat">Repeat Password</label>
		</div>
		<div class="input-field">
			<button class="btn">Register</button>
		</div>
	</form>
	</div>
</div>

</body>
<script type="text/javascript" src="static/style/materialize/js/materialize.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//$(".modal").modal({
		//	StartingTop:'10%'


		/*$(".pickdate").pickadate({
			selectMonths:true,
			selectYears:100
		});*/
	});
</script>
</html>