<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/style/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="static/style/custom.css">
	<link rel="stylesheet" type="text/css" href="static/style/dashboard.css">
	<script type="text/javascript" src="static/javascript/jquery/jquery-3.2.1.js"></script>
	
	<title>BucketlistFairy</title>
</head>
<body>
<div class="navbar-fixed">
<nav>
	<div class="nav-wrapper">
		<div class="container">
		<a href="#" class="brand-logo">BucketlistFairy</a>
		</div>
	</div>
</nav>
</div>
<div class="container">
		<div class="row" id="bklist_controller">
			<div class="col s2">
				<button class="waves-effect waves-light btn" data-target="activityModal">Add Bucketlist</button>
			</div>	
			

		</div>

		<div class="card">
		<div class="row" id="demoArea">
				<img src="static/images/1.jpg" class="col s9" id="demoImg"/>
				<div class="col s3">

					<div class="col s12" id="displayArea">
						<div id="story">

						</div>
					</div>

					<div class="col s12" id="actions">
						<button class="btn col s4" id="add_item">Add</button>
						<button class="btn col s4" id="edit_bucket_list">Edit</button>
						<button class="btn col s4" id="delete_bucket_list">Delete</button>
					</div>
				</div>
		</div>
	</div>

	<div class="row">
		<div class="col s6"><h5>My Bucket List</h5></div>
	</div>

	<div class="row" id="bucketlists">

	</div>
</div>


	<form class="modal" id="activityModal" method="POST">
		<h4 class="modal-header center">
			Add Bucket list
		</h4>

		<div class="modal-content">
			<div class="input-field">
				<input type="text" name="name" id="name" class="validate">
				<label for="name">Name</label>				
			</div>

			<div class="input-field">
				<input type="text" name="description"></input type="text">
				<label for="description">Description</label>
			</div>

			<div class="file-field input-field">
					<div class="btn">
						  <span>Image</span>
						  <input type="file" name="dpic">
					</div>
					<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>

		<div class="input-field">
			<button class="btn">Add</button>
		</div>
	</form>
	</div>
</div>

</body>
<script type="text/javascript" src="static/style/materialize/js/materialize.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".modal").modal({
			StartingTop:'10%'
		});

		$.ajax({
			"type":"GET",
			"dataType":"json",
			"url":"/api/bucketlists",
			 success:function(res){
			 	$.each(res['data'],function(idx,data){
			 		var elem='<div class="col s3 lst" data-elem="'+data['name']+'"><div class="card bk_card">';
			 		elem+='<div class="card-image "><img src="static/images/1.jpg"/></div><span class="card-title bk_title">';
			 		elem+=data["name"];
			 		elem+='</span><div class="card-content bk-content"></div>'
			 		elem+='</div></div></div>';
			 		$("#bucketlists").append(elem)
			
			 	})
			 }
		});

		$("#activityModal").submit(function(event){
			event.preventDefault()
			data=$(this).serialize()
			$.ajax({
				"type":"POST",
				"dataType":"json",
				"url":"/api/bucketlist",
				"data":data,
				success:function(res){
					if(res['status']=="success"){
						var elem='<div class="col s3 lst" data-elem="'+res['data']+'"><div class="card bk_card">';
						elem+='<div class="card-image "><img src="static/images/1.jpg"/></div><span class="card-title bk_title">';
						elem+=res["data"];
						elem+='</span><div class="card-content bk-content"></div>'
						elem+='</div></div></div>';
						$("#bucketlists").append(elem)
						alert(res['message'])
						}else{
						alert(res['message'])
					}
					//alert(JSON.stringify(res))
				}
			});
		});

		$('body').on('click', '.lst', function() {
			data=$(this).attr('data-elem')
			$("#add_item").attr("data-bucketlist",data)
			$("#edit_bucket_list").attr("data-bucketlist",data)
			$("#delete_bucket_list").attr("data-bucketlist",data)

			$.ajax({
					"type":"GET",
					"dataType":"json",
					"url":"/api/items/bucketlist/"+data,
					success:function(res){
						alert(JSON.stringify(res))
						$.each(res['data'],function(idx,elem1){
							alert(JSON.stringify(elem1))
							var element=$('<div class="item">');
							element.append(elem1['name'])
							$("#story").append(element)
						})
					}
				})
		});
	});
</script>
</html>