<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/style/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="static/style/custom.css">
	<link rel="stylesheet" type="text/css" href="static/style/dashboard.css">
	<script type="text/javascript" src="static/javascript/jquery/jquery-3.2.1.js"></script>
	
	<title>BucketlistFairy</title>
</head>
<body>
<div class="navbar-fixed">
<nav>
	<div class="nav-wrapper">
		<div class="container">
		<a href="#" class="brand-logo">BucketlistFairy</a>
		<ul id="topNave" class="right hide-on-med-and-down">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
		</div>
	</div>
</nav>
</div>
<div class="container">
		<div class="row" id="bklist_controller">
			<div class="col s2">
				<button class="waves-effect waves-light btn" data-target="activityModal">Add Activity</button>
			</div>	
			
			<div class="col s4">
				<button class=" waves-effect waves-light btn col s2 flat">All</button>
				<button class="btn waves-effect waves-light col s5">Pending</button>
				<button class="btn waves-effect waves-light col s5">Archieved</button>
			</div>			

			<div class="search-wrapper card col s6 right" id="searchBar">
	            <input id="search" placeholder="search">
	            <!--<i class="material-icons">search</i>-->
	            <div class="search-results"></div>
          </div>

		</div>

		<div class="card">
		<div class="row" id="demoArea">
				<img src="static/images/1.jpg" class="col s9" id="demoImg"/>
				<div class="col s3">
					<div id="dates_area" class="col s12">
						<div>
							Entered On:
						</div>
						<div>
							Archieved On:
						</div>
					</div>

					<div class="col s12" id="displayArea">
						<p id="story">

						</p>
					</div>

					<div class="col s12" id="actions">
						<button class="btn col s4">Edit</button>
						<button class="btn col s4">Done</button>
						<button class="btn col s4">Delete</button>
					</div>
				</div>
		</div>
	</div>

	<div class="row">
		<div class="col s6"><h5>My Bucket List</h5></div>
	</div>

	<div class="row" id="bucketlists">

	</div>
</div>


	<form class="modal" id="activityModal" method="POST">
		<h4 class="modal-header center">
			Add Activity
		</h4>

		<div class="modal-content">
			<div class="input-field">
				<input type="text" name="name" id="name" class="validate">
				<label for="name">Name</label>				
			</div>

			<div class="input-field">
				<input type="text" name="description"></input type="text">
				<label for="description">Description</label>
			</div>

			<div class="file-field input-field">
					<div class="btn">
						  <span>Image</span>
						  <input type="file" name="dpic">
					</div>
					<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>

		<div class="input-field">
			<button class="btn">Add</button>
		</div>
	</form>
	</div>
</div>

</body>
<script type="text/javascript" src="static/style/materialize/js/materialize.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".modal").modal({
			StartingTop:'10%'
		});

		$.ajax({
			"type":"GET",
			"dataType":"json",
			"url":"/api/bucketlists/hey",
			 success:function(res){
			 	$.each(res['data'],function(idx,data){
			 		var elem='<div class="col s3"><div class="card bk_card">';
			 		elem+='<div class="card-image "><img src="static/images/1.jpg"/></div><span class="card-title bk_title">';
			 		elem+=data["name"];
			 		elem+='</span><div class="card-content bk-content"></div>'
			 		elem+='</div></div></div>';
			 		$("#bucketlists").append(elem)

			
			 	})
			 }
		});

		$("#activityModal").submit(function(event){
			event.preventDefault()
			data=$(this).serialize()
			$.ajax({
				"type":"POST",
				"dataType":"json",
				"url":"/api/bucketlist",
				"data":data,
				success:function(res){
					if(res['status']=="success"){
						var elem='<div class="col s3"><div class="card bk_card">';
						elem+='<div class="card-image "><img src="static/images/1.jpg"/></div><span class="card-title bk_title">';
						elem+=res["data"]['name'];
						elem+='</span><div class="card-content bk-content"></div>'
						elem+='</div></div></div>';
						$("#bucketlists").append(elem)
					}else{
						alert(res['message'])
					}
					//alert(JSON.stringify(res))
				}
			});
		})
		/*$(".pickdate").pickadate({
			selectMonths:true,
			selectYears:100
		});*/
	});
</script>
</html>